<h2>Company Divisions:</h2>

<% @divisions.each() do |division| %>
  <ul>
    <li><a href="/divisions/<%= division.id() %>"><%= division.name() %></a></li>
  </ul>
<% end %>
<a href="/divisions/new">Add New Division</a>
  <a href="/">HOME</a>
